/*   
From Colorado Reed

This theme is uncopyrighted, free, and offered as is.
Originally from Leo Babauta @mnmlist.com. Thanks Leo.
*/

body {
  font-size: 1rem;
  max-width: 40rem;
  text-align: justify;
}

footer svg {
  height: 16vw;
  width: 100%;
  opacity: 0.15;
}

.nav-list {
  padding: 0;
  text-align: center;
  margin-top: 1rem;
}

.profile-img {
  margin: auto;
  border: 1px solid #999;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  background: url(../static/img/colo-bw.jpg);
  background-size: cover;
  opacity: 0.95;
}
.profile-img:hover {
  background: url(../static/img/colo-style-transfer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-text {
  margin-top: 1rem;
}
.profile-text ul {
  padding-left: 0.3rem;
  margin-top: 1rem;
}

.question {
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
}

.answer {
  margin-top: 0;

}

.section {
  margin-top: 3rem;
}

.social-links{
  text-align: center;
  margin-top: 0.5rem;
}
.social-links a {
  text-decoration: none;
  opacity: 0.7;
  display: inline-block;
}
.social-links a+a {
  margin-left: 0.5rem;
}
.social-links a:hover {
  text-decoration: none;
  opacity: 1.0;
}
.social-links svg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

ul {
  padding: 0;
}
.publications li {
    margin-bottom: 1rem;
}

.title {
  font-weight: bolder;
}
.tldr{
  font-style: italic;
  color: gray;
  font-size: 0.9rem;
  margin-top:0.3rem;
  line-height: 1.1rem;
}

.awards ul {
  padding-left: 1rem;
  list-style-type:square;

}

@media only screen 
and (min-device-width: 320px)
and (max-device-width: 812px)
and (orientation: landscape) {
  footer svg {
    display: none;
  } 
}
